/* Formatações Gerais */
* {
    box-sizing: border-box;
    transition: .1s;
    color: #000000;
    list-style: none;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

/* Formatações no header */
header {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid blue;
    padding: 1%;
}

header a {  
    text-decoration: none;  
}

header a img {
    width: 100px;
}

/* Formatações do Main */
main {
    display: flex;
    height: calc(100vh - 161px);
    padding: 1%;
}

main section {
    display: flex;
    padding: 1%;
}

/* Formatações área do request */
section#request {
    flex-direction: column;
    width: 60%;
    border: 1px solid black;
}

/* Formatação do cabeçalho da requisição */
section#request div#request-header {
    display: flex;
    height: 40px;
}

section#request div#request-header select {
    width: 14%;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
}

section#request div#request-header input {
    border-radius: 0 5px 5px 0;
}

section#request div#request-header button {
    width: 15%;
    margin-left: 10px;
}

/* Formatações das configurações da requisição */
section#request div#request-configs {
    margin: 10px 0 0 0;
    height: 30px;
    position: relative;
}

section#request div#request-configs::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: darkgray;
    bottom: 0;
}

section#request div#request-configs ul {
    display: flex;
    padding: 0;
}

section#request div#request-configs ul li {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 10px;
}

section#request div#request-configs ul li::before {
    content: '';
    position: relative;
    width: 4px;
    background-color:gray;
    border-radius: 30px;
    margin-right: 10px;
    height: 70%;
}

section#request div#request-configs ul li:first-child::before {
    display: none;
}

section#request div#request-configs ul li:first-child {
    border: none;
    padding-left: 0;
}

section#request div#request-configs ul li:hover {
    cursor: pointer;
}

section#request div#request-configs ul li.active::after {
    content: '';
    position: relative;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: #04B404;
    margin-left: 10px;
    border-radius: 100%;
}

/* Formatações da área dos area-params */
section#request div.area-default {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 20px 0;
    border-radius: 5px;
}

div#params,
div#headers {
    overflow-y: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

section#request div.area-default div.add-key-value {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

section#request div.area-default div.add-key-value button {
    background-color: #FFFFFF;
    border: none;
    transition: .2s;
}

section#request div.area-default div.add-key-value button:hover {
    transform: scale(1.05);
}

section#request div.area-default div#header-key-value {
    display: flex;
    width: 100%;
    border: 1px solid gray;
    border-top: none;
    border-right: none;
}

section#request div.area-default div#header-key-value span { 
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}

section#request div.area-default div#header-key-value span#tag-key {
    width: 30%;
}

section#request div.area-default div#header-key-value span#tag-value {
    width: 70%;
    padding-left: 10px;
    border-left: 1px solid gray;
}

section#request div.area-default div.values {
    display: flex;
}

section#request div.area-default div.values input {
    padding-left: 10px;
    font-size: 14px;
    height: 40px;
}

section#request div.area-default div.values input.key {
    width: 32%;
}

section#request div.area-default div.values input.value {
    width: 68%;
}

/* Formatações da área da Authorization */
section#request div.area-default div#type-auth {
    border-right: 1px solid darkgray;
    padding: 127px 50px;
}

section#request div.area-default div#type-auth form {
    display: flex;
    align-items: center;
}

section#request div.area-default div#type-auth form label,
section#request div.area-default div#bearer-auth  label {
    margin-right: 15px;
    cursor: pointer;
}

/* Authorization */
section#request div#area-auth {
    border: 1px solid gray;
}

/* Decision Auth e o Authorization */
section#request div.area-default div#decision-auth, 
section#request div.area-default div#no-auth {
    width: 57%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
}

/* Áreas da API Key, Bearer Token e Basic Auth */
section#request div.area-default div#api-key,
section#request div.area-default div#bearer-auth,
section#request div.area-default div#basic-auth {
    width: 57%;
}

/* Formatações área do response */
section#area-response {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 1px solid green;
}

section#area-response h2 {
    position: relative;
    width: 100%;
    height: fit-content;
    font-size: 22px;
}

section#area-response h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: darkgray;
}

section#area-response div#response-infos {
    display: flex;
    justify-content: flex-end;
    padding: 17px 0 0;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}

section#area-response div#response-infos span.item {
    margin: 0 10px;
    color: #2E2E2E;
}

section#area-response div#res,
section#request div#req {
    border: 1px solid lightgray;
    margin: 10px 0;
    height: calc(50vh);
}

section#request div#req {
    height: 285px;
}